body {
    color: white;
    background-color: rgb(38, 38, 38);
    font-family: 'Poppins', sans-serif;
}

main {
    padding: 20px;
    border: 10px red;
    margin: 0;
    padding: 0;
}

nav {
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.titulo {
    text-align: left;
    padding-left: 5%;
    position: absolute;
    left: 2%;
}

.listanav {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;


}

.listanav>li {
    margin-left: 20px;
}

.landing {
    text-align: center;
    margin: 0 auto;
    
    width: 80%;
  
    border-radius: 15px;
}

.landing h1 {
    font-style: bold;
    font-size: 40px;

}
.landing h2{
    font: normal;
    font-size: 30px;

}


footer {

    clear: both;
    padding: 10px;

    text-align: center;
}